@import "https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,300,400,700";
@import "https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i";
@import "https://fonts.googleapis.com/css?family=Raleway|Roboto:300i,400,400i,500,500i,700,700i";
html {
  box-sizing: border-box; }

*::before,
*::after {
  box-sizing: inherit; }

* {
  text-decoration: none;
  padding: 0;
  margin: 0;
  list-style-type: none; }

.btn:focus, .header nav ul li .book-now:focus, .about .about_main .about--right h2 button.btn:focus {
  outline: none; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px; }

.pd-rt-20 {
  padding: 0px 20px; }

.row {
  display: flex;
  flex-wrap: wrap; }

.col-md-4 {
  flex: 0 0 auto;
  width: 33.3333333333%; }

.btn, .header nav ul li .book-now, .about .about_main .about--right h2 button.btn {
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 14px;
  line-height: 1.4;
  outline: none;
  background-color: #000; }

.button-basic, .about .about_main .about--right h2 button.btn {
  background: #dc4c46;
  border: 1px solid #dc4c46;
  color: #fff;
  padding: .975rem 2.85rem;
  text-transform: uppercase;
  border-radius: 30px; }

section {
  padding: 40px 0px; }

h1, h2, h3, h4, h5 {
  color: #333;
  font-family: "Poppins", Sans-serif;
  font-weight: 500;
  margin-bottom: 20px;
  font-family: "Poppins", Sans-serif; }

h2 {
  font-size: 38px; }

h3 {
  font-size: 35px; }

h4, h5 {
  font-size: 22px; }

h5 {
  font-family: "Kaushan Script"; }

p {
  color: #7a7a7a;
  font-family: "Roboto", Sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.8;
  margin-bottom: 1.5em; }

a {
  font-size: 13px;
  display: block;
  font-family: "Roboto";
  font-weight: 500;
  color: #fff; }

.header {
  height: auto;
  background-color: #333; }
  .header .header_main {
    display: flex;
    justify-content: space-between; }
    .header .header_main label.logo {
      padding: 15px 0px;
      margin: 0 40px; }
      .header .header_main label.logo img {
        width: 170px; }
  .header nav {
    line-height: 103px;
    margin: 0 40px; }
    .header nav ul li {
      display: inline-block;
      margin: 0 10px;
      line-height: 80px; }

.banner {
  background-image: url(../images/bg4.jpg);
  position: relative;
  height: 550px;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover; }

.about .about_main {
  display: flex;
  justify-content: center; }
  .about .about_main .about--left {
    width: 50%; }
    .about .about_main .about--left img {
      width: 100%; }
  .about .about_main .about--right {
    width: 50%;
    padding-top: 30px; }

.contact {
  background-color: #dc4c46; }
  .contact .thumb-item {
    padding: 20px;
    text-align: center; }
    .contact .thumb-item i {
      font-size: 40px;
      color: #fff;
      margin-bottom: 20px; }
    .contact .thumb-item h4 {
      position: relative;
      color: #fff;
      padding-bottom: 20px; }
    .contact .thumb-item .line-default:after {
      position: absolute;
      bottom: 0px;
      left: 0;
      right: 0px;
      content: '';
      margin-left: 0px;
      border-bottom: 2px solid #333;
      width: 70px;
      height: 3px;
      margin: auto; }
    .contact .thumb-item p {
      color: #fff;
      margin-bottom: 0px; }
