.banner{background-image: url(../images/bg4.jpg);
        position: relative;
        height: 550px;
        background-repeat: no-repeat;
        background-position: 50% 0;
        background-size: cover;
    }



.about{
    .about_main{display: flex; justify-content: center;
        .about--left{ width: 50%;
            img{
                width:100%;
            }
        }
        .about--right{width: 50%; padding-top: 30px; 
            h2{
                p{
                }
                button.btn{
                    @extend .btn;
                    @extend .button-basic;
                    
                }
            }
        }
    }
}



.contact{
    background-color: $primary-color;
        .thumb-item{padding: 20px; 
            text-align: center;
            i{font-size: 40px; color: #fff; margin-bottom: 20px;}
            h4{position: relative;
                color: $white;
                padding-bottom: 20px;
            }
            .line-default:after {
                position: absolute;
                bottom: 0px;
                left: 0;
                right: 0px;
                content: '';
                margin-left: 0px;
                border-bottom: 2px solid #333;
                width: 70px;
                height: 3px;
                margin: auto;
            }
            p{
                color: $white;
                margin-bottom: 0px;
            }
        }
    }