
section{
    padding: 40px 0px;
}
h1,h2,h3,h4,h5{
    color:$secondary-color;
    font-family: "Poppins", Sans-serif;
    font-weight: 500;
    margin-bottom: 20px;
    font-family: "Poppins", Sans-serif;
}

h2{
font-size: 38px;
}
h3{
    font-size: 35px;
}
h4, h5{
    font-size: 22px;
    
}
h5{
    font-family: "Kaushan Script";
}
p{
    color:$light-gray;
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.8;
    margin-bottom: 1.5em;
    
}