
$primary-color:#dc4c46;
$secondary-color:#333;
$black: #000;
$orange-color:linear-gradient(90deg, rgba(246,161,94,1) 0%, rgba(233,103,4,1) 100%);
$white:#fff;
$light-blue:#337ab7;
$light-gray:#7a7a7a;
